<script>
(function(){
  $.scrollTo('#login', 1000, {offset: {top:-120, left:-295} }  );
});

</script>

<div class="trans navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to 'SlideCloud', root_path , :class => "brand pull-right" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><a href="#sign_in">Hello!</a></li>
          <li><%= link_to 'About', about_index_path %></li>
          <li><%= link_to 'Samples', samples_index_path %></li>          
        </ul>
        <ul class="nav pull-right">
          <li class="pull-right"><a href="#login">Sign in</a></li>
        </ul>
      </div>
 
    </div>
  </div>
</div>

  
<section class="home" style="background: #888888; min-height: 480px;">
  <div class="container">
    
    <div class="row" style="text-align: left; margin-left: 0px; margin-right: 0px; margin-top: -10px;">
      <h1 style="color: #ffffff;">Latest from the Showcase</h1>
    </div>
    <hr class="soften" style="margin-top: -5px; margin-bottom: 20px; margin-left: 2px;margin-right: 2px; background-color: white;">
    <div id="myCarousel" class="carousel slide span8 offset2">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item" style="height: 540px; width: 960px;">
          <%= image_tag "sample_slideshow_pics/pic1.jpg", :width => "100% ;" %>
          <div class="carousel-caption">
            <h4>This is a Sample Slide description</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore <br> magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
        <div class="item" style="height: 540px; width: 960px;">
          <%= image_tag "sample_slideshow_pics/pic4.jpg", :width => "100%;" %>
          <div class="carousel-caption">
            <h4>This is a Sample Slide description</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore <br> magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
        <div class="item" style="height: 540px; width: 960px;">
          <%= image_tag "sample_slideshow_pics/pic3.jpg", :width => "100%;"  %>
          <div class="carousel-caption">
            <h4>This is a Sample Slide description</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore <br> magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
      
  </div>    
</section> 

<section id="login" class="omniauthable_facebook">
  <div class="container">
    <div class="row">
    
      <div class="span12" style="text-align: center;">
        <%= render "devise/shared/omniauthable.html.erb" %>
      </div>
    
    </div>
  </div>
</section>
    
<section class="devise"> 
  <div class="container"> 
    <div class="row">
     
      <div class="span12">
        <p class="lead">...you can also use our old fashioned login</p>
      </div>
              
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-inline"}) do |f| %>
         
        <div class="span12">
          <%= f.email_field :email, :class => 'input-small', :placeholder => 'Email'  %>

          <%= f.password_field :password, :class => 'input-small', :placeholder => 'Password' %>
      
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %> <%= f.label :remember_me, :class => 'checkbox' %>
          <% end -%>

            <%= f.submit "Sign in", :class => "btn btn-success" %>
          <% end %>
        
        </div> 
        <div class="span12">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</section>
<footer class="footer yellowBackground" id="progress">
  <div class="container">
      <div class="span12" style="text-align:right;">
        <p class="lead">Build by Martin Fleischer & Johannes Dirr</p>
        <p>Multimedia Engineering II # WS 2012/2013</p>
        <p>Beuth Hochschule für Technik Berlin</p>
      </div>
    </div>    
  </div>
</footer>
